html {
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: 100%;
  color: $black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  // We need to add some padding to the bottom of the body on mobile so that
  //   the footer won't get covered by our navigation
  padding-bottom: $nav-bar-height;
}

// This rule ensure that all images always fit in their container
//   but are never stretched beyond their native resolution
img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}
