.movie {
  position: relative;
}

.movie-poster,
.movie-backdrop {
  display: block;
}

// Hide the poster on mobile devices, only show backdrop
// TIP: Use media queries to reveal it on larger devices
.movie-poster {
  display: none;
}

.movie-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1em;
  color: white;

  // Linear gradients are a bit of an advanced CSS3 feature.
  //   As seen below you specify the linear-gradient as a value for
  //   the `background-image` property. It creates a gradient with as many stops
  //   as you care to define. To learn more about how it works, read this article
  //   and the related docs: https://medium.com/@patrickbrosset/do-you-really-understand-css-linear-gradients-631d9a895caf#.6yl8vdmiv

  background-image: linear-gradient(transparent 0%, rgba(0,0,0,0.7) 100%);
}

// Hide the overview on mobile devices
// TIP: Use media queries to reveal it on larger devices
.movie-overview {
  display: none;
}

.movie-title-label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  line-height: 1;
  text-transform: uppercase;
  color: gold;
  margin: 0;
}

.movie-title {
  margin: 0;
  font-size: 2em;
  line-height: 1.1;
}
