// Typography

// Source Sans Pro & Montserrat are served by Google Fonts
// Look in application.html.erb for the link tag that includes it
// Explore fonts here: https://fonts.google.com

$base-font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$label-font-family: "Montserrat", "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Layout Sizes
$nav-bar-height: 60px;
$mobile-logo-size: 80px;

// Positioning
$layer-one: 100;
$layer-two: 200;
$layer-three: 300;

// Colours
$white: #fff;
$black: #333;
$yellow: gold;
